html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  background: #265aa8;
  display: flex;
  height: 80px;
  top: 0;
  left: 0;
  position: sticky;
  right: 0;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 99;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  height: 80px;
  padding-left: 10px;
}
body {
  margin: 0;
  color: #e4e4e4;
  background-color: #e4e4e4;
  font-family: 'Roboto Condensed', sans-serif;
}
