
.new-tweet {
  padding: 10px 10px;
  text-align: left;
  border: 1px solid #d1d1d1;
  margin: 8px 0;
  width: 100%;
  border-radius: 4px;
  background-color: #eee;
  border-radius: 8px; 
  /* height: 400px; */
}

.new-tweet h2 {
  margin: 4px;
  border-bottom: 1px black solid;
  padding: 2px;
  text-align: left;
}

.new-tweet textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 16px;
  z-index: 90;
}

.new-tweet input {
  margin-top: 8px;
}

.new-tweet .counter {
  float: right;
  margin-top: 8px;
  font-style: italic;
}

.new-tweet .counter.makeRed {
  color: red;
}